NEXT_PUBLIC_REOWN_PROJECT_ID=your_reown_project_id_here
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
BASE_MAINNET_RPC_URL=https://mainnet.base.org
BASESCAN_API_KEY=your_basescan_api_key
PRIVATE_KEY=your_private_key_for_deployment
